@import url(./root.css);
@import url(./style.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);

}

.navbar-page {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 50px 12px 100px;
    transition: 0.5s ease;
    box-sizing: border-box;
    background-color: var(--secondary);

}

.navbar-page .brand {
    color: var(--primary);
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar-page .navigation {
    position: relative;
}

.navigation-items a {
    color: #fff;
    position: relative;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

.navigation-items a.active {
    color: var(--primary);
}

.navigation-items a::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    color: white;
    transition: width 0.3s;
}

.navigation-items a.active:hover::after {
    color: white;
    width: 50%;
    display: flex;
    align-items: center;
}

.navigation-items a.active::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--primary);
    color: var(--primary);
    transition: width 0.3s;
}

.navigation-items a:hover::after {
    color: var(--primary);
    width: 50%;
    display: flex;
    align-items: center;
}

section{
    background-color: #fff;
}
/*----Menu Search----*/



.title-search h1 {
    color: var(--secondary);
    font-weight: 700;
    margin-top: 30px;
}

.search-input-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input-section .input-search {
    width: 360px;
    height: 36px;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 15px;
    margin: 15px;
}

.search-input-section .input-search .input-style {
    background-color: transparent;
    color: white;

}

.input-search i {
    color: white;
}

.search-input-section button {
    width: 120px;
    height: 36px;
    padding: 5px;
    background-color: var(--primary);
    color: white;
}


